h1 {
    text-align: center;
    color: #6A7162;
    line-height: 1.5em;
    padding: 15px;
}

ul {
    background: #CBE9D2;
    margin: 0;
    list-style: none;
    padding: 20px;
}

li {
    margin: 20px;
    color: #6A7162;
}

header {
    background: #E2DAD0;
    margin: 0;
}

#task_list {
    width: 80%;
    margin: auto;
}

#buttons {
    margin: 0 0 20px 0;
}

button {
    width: 200px;
    margin-bottom: 10px;
}


/*Sky Theme*/

#sky_theme h1,
li {
    color: #363732;
}

#sky_theme ul {
    background: #53d8fb;
}

#sky_theme header {
    background: #dce1e9;
}


/*Natural Theme*/

#nat_theme h1,
li {
    color: #6A7162;
}

#nat_theme ul {
    background: #CBE9D2;
}

#nat_theme header {
    background: ##E2DAD0;
}